* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    margin: 15px 0 0 0;
    padding: 15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: aquamarine 5px solid;
}
